<div class="row">
    <div class="col-md-12">
        <h4>Proxy Status
            <button ng-click="refreshProxy()" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Address</th>
                    <th>Debug</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="proxy in proxies">
                    <td><p>{{proxy.id}}</p></td>
                    <td><p>{{proxy.addr}}</p></td>
                    <td><a href="http://{{proxy.debug_addr}}/debug/vars">{{proxy.debug_addr}}</a></td>
                    <td ng-switch="proxy.state">
                        <span class="label label-success" ng-switch-when="online">{{proxy.state}}</span>
                        <span class="label label-info" ng-switch-default>{{proxy.state}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4>Codis Server Groups
            <button ng-click="refreshServer()" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </h4>
        <table class="table table-striped" ng-repeat="group in groups">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Type</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="server in group.servers">
                    <td><p>{{server.id}}</p></td>
                    <td><p>{{server.type}}</p></td>
                    <td><p>{{server.addr}}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>