<h3>Search Key in Redis</h3>
<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" id="key" placeholder="Please input key here ..."
                   ng-model="key">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="search(key)">Search Key</button>
</form>
<br/>
<toaster-container
        toaster-options="{'time-out': 3000, 'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
<table ng-if="search_result_keys.length > 0" st-table="displayedCollection" st-safe-src="search_result_keys"
       class="table table-striped">
    <thead>
    <tr>
        <th>Key</th>
        <th>Group</th>
        <th>Addr</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="row in displayedCollection">
        <td><p>{{ row.key }}</p></td>
        <td><p>{{ row.group }}</p></td>
        <td><p>{{ row.addr }}</p></td>
        <td>
            <button ng-if="row_status[$index]" class="btn btn-sm btn-primary" ng-click="select($index, row)">Show</button>
            <button ng-if="!row_status[$index]" class="btn btn-sm btn-success" ng-click="select($index, row)">Hide</button>
        </td>
    </tr>
    <tr ng-repeat-end="">
        <td colspan="4">
            <div uib-collapse="row_status[$index]">
                <div ng-if="redis_type == 'string'">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="redis_slave" class="col-sm-2 control-label">Server</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="redis_slave" ng-model="redis_slave"
                                               readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="redis_key" class="col-sm-2 control-label">Key</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="redis_key" ng-model="redis_key"
                                               readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="redis_type" class="col-sm-2 control-label">Type</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="redis_type" ng-model="redis_type"
                                               readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-9">
                                        <button type="submit" class="btn btn-primary" ng-click="string_get()">GET
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5">
                            <p style="word-wrap:break-word; white-space:normal; word-break:break-all;bridth:500px;">{{ redis_value }}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="redis_type == 'zset'">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="redis_slave" class="col-sm-2 control-label">Server</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="redis_slave" ng-model="redis_slave"
                                               readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="redis_key" class="col-sm-2 control-label">Key</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="redis_key" ng-model="redis_key"
                                               readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="redis_type" class="col-sm-2 control-label">Type</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="redis_type" ng-model="redis_type"
                                               readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="redis_start" class="col-sm-2 control-label">Start</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="redis_start" ng-model="redis_start"
                                                readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="redis_stop" class="col-sm-2 control-label">Stop</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="redis_stop" ng-model="redis_stop"
                                                readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-9">
                                        <button type="submit" class="btn btn-primary" ng-click="zset_zrange()">ZRANGE
                                        </button>
                                        <button type="submit" class="btn btn-primary" ng-click="zset_zcard()">ZCARD
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5">
                            <p style="word-wrap:break-word; white-space:normal; word-break:break-all;bridth:500px;">{{ redis_value }}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="redis_type == 'set'">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="redis_slave" class="col-sm-2 control-label">Server</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="redis_slave" ng-model="redis_slave"
                                               readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="redis_key" class="col-sm-2 control-label">Key</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="redis_key" ng-model="redis_key"
                                               readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="redis_type" class="col-sm-2 control-label">Type</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="redis_type" ng-model="redis_type"
                                               readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="redis_count" class="col-sm-2 control-label">Count</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="redis_count" ng-model="redis_count"
                                               readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-9">
                                        <button type="submit" class="btn btn-primary" ng-click="set_srandmember();">SRANDMEMBER
                                        </button>
                                        <button type="submit" class="btn btn-primary" ng-click="set_scard();">SCARD
                                        </button>
                                        <button type="submit" class="btn btn-danger" ng-click="set_smembers();">SMEMBERS
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5">
                            <p style="word-wrap:break-word; white-space:normal; word-break:break-all;bridth:500px;">{{ redis_value }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="text-left">
            {{ search_result_count }} key found
        </td>
        <td colspan="3" class="text-right">
            <div st-pagination="" st-items-by-page="search_result_item_per_Page" st-displayed-pages="5"></div>
        </td>
    </tr>
    </tfoot>
</table>