<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Codis Admin</title>
    <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap-theme.min.css" type="text/css" />
    <link rel="stylesheet" href="static/css/json-formatter.min.css" type="text/css" />
    <link rel="stylesheet" href="static/css/toaster.css" type="text/css" />
    <link rel="stylesheet" href="static/css/app.css" type="text/css" />

</head>
<body ng-controller="AppCtrl">
    <div class="app" ui-view ></div>
    <script src="/static/vendor/jquery/jquery-1.11.2.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/angular/angular.min.js"></script>
    <script src="/static/vendor/angular/angular-animate.min.js" ></script>
    <script src="/static/vendor/angular/angular-touch.min.js" ></script>
    <script src="/static/vendor/angular/angular-ui-router.js"></script>
    <script src="/static/vendor/angular/smart-table.min.js"></script>
    <script src="/static/vendor/angular/toaster.js"></script>
    <script src="/static/vendor/angular/ui-bootstrap-tpls.min.js" ></script>
    <script src="/static/vendor/angular/json-formatter.min.js" ></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/router.js"></script>
    <script src="/static/js/controllers/codis.js"></script>
    <script src="/static/js/controllers/redis.js"></script>
    <script src="/static/js/controllers/about.js"></script>
    <script src="/static/js/controllers/setting.js"></script>
</body>
</html>